.left-bar {
  position: relative;
  padding-left: 36px;
  width: 236px;
  min-height: 100vh;

  border-right: 1px solid #e5e5e5;
  background-color: rgb(249, 249, 249);

  .nav-area {
    .nav {
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: rgb(71, 176, 128);
      }
      .iconfont {
        margin-right: 24px;
      }
    }
    .active {
      color: rgb(71, 176, 128);
    }
  }

  .tag-area {
    margin-top: 66px;
    max-height: 432px;
    overflow: auto;
    h3 {
      margin: 0;
    }
    .tag {
      display: flex;
      align-items: center;
      position: relative;

      transition: opacity .28s;
      cursor: grab;
      &:hover {
        .icon-trash {
          display: block;
        }
      }
      .point {
        margin-right: 9px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
      .tag-name-area {
        cursor: grab;
        span {
          padding: 0 6px;
          cursor: text;
        }
        input {
          display: none;

          padding: 4px 6px;
          font-size: 16px;
          color: #383838;
          background-color: transparent;

          border: 1px solid #3da8f5;
          border-radius: 3px;
          outline: none;
        }
      }
      .show-add-input {
        span {
          display: none;
        }
        input {
          display: block;
        }
      }
      .icon-trash {
        display: none;
        position: absolute;
        top: 2px;
        right: 16px;
        color: #808080;

        transition: color .28s;
        cursor: pointer;
        &:hover {
          color: #3da8f5;
        }
      }
    }

    .add-tag {
      margin-top: 8px;
      right: 2px;
      width: fit-content;
      .add-tag-area {
        cursor: pointer;

        &:hover {
          .icon-add, .desc {
            color: #3da8f5;
          }
        }
      }
      .icon-add {
        font-size: 20px;
      }
      .desc {
        position: relative;
        bottom: 1px;
        margin-left: 4px;
      }
      .icon-add, .desc {
        font-family: PingFangSC;
        color: #808080;

        transition: color .28s;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    img {
      width: 58px;
      height: 58px;
      border-radius: 50%;
    }
    span {
      margin-left: 14px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .nav, .tag {
    margin: 36px 20px 0 0;
  }
}
