.left-bar {
  position: relative;
  padding-left: 36px;
  width: 236px;
  min-height: 100vh;

  border-right: 1px solid #e5e5e5;
  background-color: rgb(249, 249, 249);

  .nav-area {
    .nav {
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: rgb(71, 176, 128);
      }
      .iconfont {
        margin-right: 24px;
      }
    }
    .active {
      color: rgb(71, 176, 128);
    }
  }

  .tag-area {
    margin-top: 66px;
    h3 {
      margin: 0;
    }
    .tag {
      display: flex;
      align-items: center;
      width: fit-content;

      transition: opacity .28s;
      cursor: grab;
      .point {
        margin-right: 9px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
      }
    }
    .add-tag {
      margin-top: 8px;
      position: relative;
      right: 2px;
      width: fit-content;
      cursor: pointer;

      &:hover {
        i, span {
          color: #3da8f5;
        }
      }
      i {
        font-size: 20px;
      }
      span {
        position: relative;
        bottom: 1px;
        margin-left: 4px;
      }
      i, span {
        font-family: PingFangSC;
        color: #808080;

        transition: color .28s;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 42px;
    display: flex;
    align-items: center;
    img {
      width: 58px;
      height: 58px;
      border-radius: 50%;
    }
    span {
      margin-left: 14px;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .nav, .tag {
    margin-top: 36px;
  }
}
