.menu {
  position: relative;
  width: 372px;
  height: 100vh;

  overflow-y: auto;
  background-color: rgb(251, 251, 251);

  header {
    position: fixed;
    top: 0;
    left: 273px;

    width: 372px;
    height: 112px;

    background-color: #fbfbfb;
    z-index: 1;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    margin-top: 112px;
    .header {
      position: fixed;
      width: 372px;

      background-color: rgba(251, 251, 251, .9);
      z-index: 1;
      h2 {
        text-align: center;
      }
    }
    .article-lists {
      margin: 68px 0 100px 0;
    }
    .article {
      margin-top: 8px;
      padding: 16px;
      width: 316px;
      border-radius: 4px;

      cursor: pointer;
      transition: all .28s;
      &:hover {
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(56, 56, 56, .1);
      }
      .menu-title {
        -webkit-line-clamp: 2;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
      }
      .menu-content {
        margin-top: 6px;
        -webkit-line-clamp: 3;
        line-height: 18px;
      }
      .menu-title, .menu-content {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
      }
    }
    .active {
      background-color: orange;
    }
  }

  footer {
    position: fixed;
    left: 273px;
    bottom: 0px;

    width: 372px;
    height: 100px;
    text-align: center;

    background-color: #fbfbfb;

    .add-btn {
      position: absolute;
      top: 12px;
      left: 28px;

      width: 316px;
      padding: 20px 0;

      background-color: #2dbe60;
      border-radius: 8px;

      cursor: pointer;
      span {
        font-weight: 700;
        color: white;
      }
    }

  }
}
