.panel {
  .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
    height: 72px;

    border-bottom: 1px solid #f3f3f3;
    .left {
      span {
        color: #2dbe60;

        transition: color .28s;
        cursor: pointer;
        &:hover {
          color: #2ba555;
        }
      }
    }
    .center {
      width: 70%;
      white-space: nowrap;
      text-align: center;

      font-size: 18px;
      color: #2dbe60;

      overflow: hidden;
      text-overflow: ellipsis;

      animation: textFadeIn .28s;
    }
    .common {
      position: relative;

      border: 1px solid #2dbe60;
      border-radius: 4px;

      transition: all .28s;
      cursor: pointer;
    }
    .spread-btn {
      padding: 5px 6px;
      width: 16px;
      height: 16px;

      &:hover {
        background-color: #2dbe60;
        .icon-expand {
          color: #fff;
        }
      }
      .icon-expand {
        position: absolute;
        top: 2px;
        left: 4px;

        font-size: 21px;
        color: #2dbe60;

        transition: color .28s;
      }
    }
    .done-btn {
      padding: 0 15px;
      height: 28px;
      line-height: 28px;
      background-color: #2dbe60;

      &:hover {
        background-color: #28a955;
        border-color: #28a955;
      }

      span {
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
  main {
    max-height: calc(100vh - 73px);
    overflow-y: auto;
  }
  .edit-area {
    float: left;
    padding: 20px;
    width: 46vw;

    .title {
      // why float & width could change its width
      float: inherit;
      width: 100%;
      text-align: center;

      margin-bottom: .5em;

      font-size: 28px;
      color: #2dbe60;
      font-family: caecilia, times, serif;
    }

    #edit {
      outline: none;

      &::selection {
        background-color: #2dbe604d;
      }
    }
  }
  .content-area {
    display: flex;
    flex-direction: column;
    padding: 24px;

    background-color: #fff;
    transition: background-color .28s;
    .title {
      text-align: center;
      font-size: 28px;
      font-family: caecilia, times, serif;
      -webkit-font-smoothing: antialiased;
      color: #2dbe60;
    }
    .content {
      line-height: 1.6rem;

      font-family: gotham, helvetica, arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      color: #383838;

      white-space: pre-wrap;
      box-sizing: border-box;

      outline: none;
    }
  }
  .preview {
    min-height: calc(100vh - 143px);
    background-color: #f3f3f3;
  }
  .hidden {
    display: none;
  }
}

@keyframes textFadeIn {
  0% {
    transform: translateY(12px) scale(.6);
  }
}
